# Set the default behavior for line endings
* text=auto

# Bash scripts
*.sh text eol=lf linguist-language=Shell

# Documentation
*.md text linguist-documentation=false
README.md linguist-documentation=false

# GitHub templates
.github/** linguist-documentation
